<form action="/teachers/<%= teacher._id %>" method="post">
	<input type="hidden" name="_method" value="put">
	<input type="text" name="first_name" value="<%= teacher.first_name %>" >
	<br>
	<input type="text" name="last_name" value="<%= teacher.last_name %>" >
	<br>
	<input type="text" name="username" value="<%= teacher.username %>" >
	<br>
	<input type="text" name="password" value="<%= teacher.password %>" >
	<br>
	<input type="submit" value="edit">
</form>