<h1>Reading Comprehension Classes</h1>

<% for (var i=0; i < klasses.length; i++){ %>

  Grade:&nbsp;<a href="/klasses/<%= klasses[i]._id %>">
    <%= klasses[i].grade %>
  </a>
  Password:&nbsp;<a href="/klasses/<%= klasses[i]._id %>">
    <%= klasses[i].password %>
  </a>&nbsp;
  Teacher ID: <%= klasses[i]._teacher_id %>
  <br>
  Students: <%= klasses[i].students %>
  <br>


  <form action="/teachers/<%= id %>/klasses/<%= klasses[i]._id %>" method="post" style="display: inline;">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">&nbsp;
    <a href="/teachers/<%= id %>/klasses/<%= klasses[i]._id %>/edit">edit</a>
  </form>
<% } %>
<br/><br/>



<a href='/teachers/<%= id %>/klasses/new'>Initiate a new class</a>